<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PinPromptPendingClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PinPromptPendingClassLibrary.Properties.Settings>
            <setting name="PinPromptPendingClassLibrary_MomoApi_PegPayTelecomsApi"
                serializeAs="String">
                <value>https://192.168.120.44:8019/TestLevel1MoMoAPI/PegPayTelecomsApi.asmx</value>
            </setting>
        </PinPromptPendingClassLibrary.Properties.Settings>
    </applicationSettings>
</configuration>